.cusContainer{
    background-color: black !important;
    color: white !important;
    height: 100%;
    align-items: center;
}
.emptyContainer{
    background-color: black !important;
    color: white !important;
    height:100vh;
    justify-content: start !important;
}

.headline{  
    background-color: black !important;
    color: white !important;
    height: 60px;
    margin-top: 40px;
}

.mappingCard{
    /* width: fit-content; */
}

.mappingCard::-webkit-scrollbar {
    display: none;
}